.edit-list {
  color: #111111;
  &__items {
    margin-top: 2px;
    ion-item {
      --highlight-height: 0px;
      --border-color: transparent;
      margin: -4px 0px;
    }
    ion-item.sc-ion-input-md-h:not(.item-label),
    ion-item:not(.item-label) .sc-ion-input-md-h {
      padding: 0px 5px;
      --padding-start: 5px;
    }
  }
  ion-input {
    color: #111111;
  }

  &__action-btn {
   ion-button::part(native) {
      background-color: transparent;
    }
  }
  &__add-button {
    display: flex;
    justify-content: center;
    ion-buttons {
      width: 100%;
      ion-button {
        width: 100%;
        button {
          --color: black;
        }
      }
    }

    .add-button-content {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
}

