<ion-header [translucent]="true" class="note-header">
  <ng-content *ngTemplateOutlet="mainToolbar"></ng-content>
  <ng-content *ngTemplateOutlet="showToolbarImage && toolbarImageTmpl"></ng-content>
</ion-header>

<ng-template #mainToolbar>
<ion-toolbar class="toolbar-custom note-header__toolbar" [class.note-header__toolbar--hide]="showToolbarImage">
  <ion-buttons slot="start">
    <ion-button *ngIf="showedModal"
      (click)="emitAction(actionButtons.switchColorSelector)">
      <ion-icon slot="icon-only" [name]="'close'"></ion-icon>
    </ion-button>
    <ion-back-button [class.u-no-visible]="showedModal" defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end"> 
    <ion-button  *ngFor="let button of buttons" [class]="button.class" [disabled]="loading"
        [class.ion-hide]="button.hidden" (click)="emitAction(button.type)">
      <ion-icon slot="icon-only" [name]="button.icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ng-template>

<ng-template #toolbarImageTmpl>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="emitAction(actionButtons.closeImage)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="emitAction(actionButtons.deleteImage)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ng-template>
