
.colors-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 10px;
  justify-content: center;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      background: transparent;
      div {
        width:25px;
        height:25px;
      }
    }
    span {
      align-self: center;
      margin-right: auto;
    }
  }
}
