
    <ul class="colors-list">
      <li *ngFor="let theme of themes">
        <button (click)="onSelectStyle(theme.themeId)">
          <div [style]="'background:' + theme.c2"> </div>
        </button>
        <span *ngIf="theme.themeTitle" class="u-txt-{{fontSize}}">{{theme.themeTitle}}</span>
        <span *ngIf="!theme.themeTitle" class="u-c-grey u-txt-{{fontSize}}">Sin título</span>
        <ion-button slot="end" (click)="onSelectStyle(theme.themeId)" fill="clear">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </li>
    </ul>


