.calendar-picker {
  position: relative;;
  >ion-title {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--ion-color-dark);
  }
  &__content {
    padding: 10px 0px;
    border-bottom: 1px solid var(--ion-color-dark);;
    .arrow-button {
      display: flex;
      place-self: center;
      margin-bottom: 45px;
    }
    .calendar {
      width: 100%;
      justify-content: center;
      margin-right: 10px;
      &__weeks-days {
        justify-content: center;
        color: red;
      }
  
      &__cell {
        display: flex;
        width: 14.28%;
        justify-content: right;
        min-height: 18px;
  
        button {
          background-color: transparent;
        }
      }
  
      &__rows {
        justify-content: center;
      }
  
      &__week-day {
        padding-right: 5px;
        font-weight: 600;
      }
  
      &__day {
        ion-button {
          color: var(--ion-text-color);
          &::part(native) {
            padding: 0px;
          }
        }
        &--disabled {
          opacity: 50%;
        }
        &--today ion-button {
          border: 1px solid var(--ion-color-dark);;
          font-weight: 600;
          border-radius: 10px;
        }
        &--checked ion-button {
          font-weight: 600;
          border-radius: 10px;
          border: 1px solid var(--ion-color-dark);;
          color: var(--ion-color-light);
          background-color: var(--ion-color-dark);
        }
      }
    }
  }

}
