.notes-list-header {
  &__toolbar {
    position: relative;
    transition: opacity 700ms;
    opacity: 1;
    z-index: 10;
    @media (min-width: 992px) {
      text-align: center;
    }
    &--hide {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    ion-title {
      @media (min-width: 992px) {
        padding: 0px;
      }
    }
  }
  &__secondary-toolbar {
    position: relative;
    transition: opacity 700ms;
    opacity: 1;
    z-index: 10;
    &--hide {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }
  &__segments {
    background-color: var(--ion-color-light);
    ion-segment-button ion-title {
      font-size: 12px;
    }
  }
  &.marginTop56 {
    margin-top: -56px;
  }
  &.transition-margin-top-700 {
    transition: margin-top 700ms;
  }

  .top0 {
    top: 0px;
  }
}
