<div class="theme-selector">
  <ion-list [scrollLeft]="">
    <ion-item *ngFor="let theme of themes;let i=index" [class.theme-selector__theme]="true"
      [class.theme-selector__theme--selected]="themeSelectedId && theme.themeId === themeSelectedId"
      (click)="onSelectTheme(theme.themeId)">
      <ion-label class="u-txt-{{fontSize}}">{{theme.themeTitle}}</ion-label>
      <div class="themes-page__btn">
        <div *ngIf="theme.c2" class="rectangle" [style]="'background:' + theme.c2"></div>
      </div>
    </ion-item>
    <ion-item *ngIf="canAdd" [class.theme-selector__theme]="true"
      [class.theme-selector__theme--selected]="themeSelectedId && newTheme.themeId === themeSelectedId"
      (click)="onSelectTheme(newTheme.themeId)">
      <ion-input [placeholder]="'Añada una nueva temática'" (click)="onSelectTheme(newTheme.themeId)"
        [(ngModel)]="newTheme.themeTitle"></ion-input>
        <div class="themes-page__btn">
          <div *ngIf="newTheme.c2" class="rectangle" [style]="'background:' + newTheme.c2"
          (click)="onChangeColor()"></div>
        </div>
    </ion-item>
  </ion-list>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onAccept()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>
