
.theme-selector {
  display: flex;
  flex-direction: column;
  &__item {
    &--selected {
      --background: rgb(223 214 214 / 50%);
    }
  }
    span {
      align-self: center;
      margin-right: auto;
    }
}
