.main-menu {
  &__content {
    --background: var(--ion-color-light);
    ion-item::part(native) {
      --border-style: transparent;
    }
    .menu {
      &__toggle-item {
        border-bottom: var(--ion-color-secondary) 1px solid;
      }
      &__font-change-item {
        border-bottom: var(--ion-color-secondary) 1px solid;
        padding-left: 0px;
        ion-range.range-has-pin {
          padding-top: 0px;
          padding-bottom: 0px;
          z-index: 1;
        }
      }
      &__colors-btn {  
        display: flex;
        align-items: flex-end;
        button {
          width: 100%;
          background: var(--ion-color-primary);
          padding: 8px 5px;
          color: var(--ion-color-dark);
          text-transform: inherit;
          margin-bottom: 5px;
        }
        &--dark {
          button {
       //     background:#484848;
          }
        }
        
      }
      &__hide-archived {
        border-bottom: var(--ion-color-secondary) 1px solid;
        ion-checkbox {
          margin-right: 5px;
        }
      }
    }
  }
}
