.my-notes-page {
  &__title {
    position: relative;
    margin: 12px;
    min-height: 25px;
    display: flex;
    justify-content: space-between;
    ion-icon {
      align-self: center;
      padding-left: 8px;
    }
    > ion-title {
      padding: 5px 10px;
      color: #000000;
    }
    > button {
      background: transparent;
      ion-icon {
        width:15px;
        height:15px;
        padding-left: 8px;
        align-self: center;
      }
    }
  }
  &__list {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    .note-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      &--unselected{
        opacity: 0.4;
      }
      &--archived {
        opacity: 0.4;
        .note-wrapper__content {
          ::ng-deep {
            ion-card {
              text-decoration: inherit;
            }
          }
        }
      }
      &__btn {
        position: absolute;
        z-index: 1;
        float: right;
        right: 8px;
        top: 8px;
        height: calc(100% - 22px);
      &::part(native) {
        background: rgb(0 0 0 / 10%);
        border-radius: 0px 0px 0px;
        }
      }
      &__content {
        ::ng-deep {
          ion-card {
            padding-right: 31px;
          }
        }
      }
    }
  }
  &__archive-title {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 8px;
  }
  &__new-inexistent {
    display: flex;
    flex-direction: column;
    margin: 8px;
    span {
      padding: 10px;
    }
  }
  &__inexistent {
    display: flex;
    flex-direction: column;
    margin: 8px;
    height: -webkit-fill-available;
    span {
      padding: 10px;
    }
    > div {
      align-self: center;
      display: flex;
      justify-content: center;
      height: -webkit-fill-available;
      align-items: center;
      ion-button {
        height: 50px;
        width: 50px;
        &::part(native) {
          border-radius: 25px;
        }
      }
    }
  }

  &__fab-icon{
    transition: margin-bottom 700ms;
    margin-bottom: -100px;
    &--show {
      margin-bottom: 5px;
    }
  }
}

