.themes-page {
  &__theme {
    border-bottom: #ebebeb 1px solid;
    button {
      background-color: inherit;
    }
    &--selected {
      --background: rgb(223 214 214 / 50%);
    }
  }
  &__add-button {
    border-bottom: #ebebeb 0px solid;
    ion-buttons {
      width: 100%;
      ion-button {
        width: 100%;
      }
    }
  }

}
