.themes-page {
  ion-list ion-item {
    border-bottom: #ebebeb 1px solid;
  }
  &__btn {
      background-color: inherit;
    &--disabled {
      opacity: 0.5;
    }
  }
  &__input {
    &--disabled {
      opacity: 0.5;
    }
  }
  &__add-button {
    border-bottom: #ebebeb 0px solid;
    ion-buttons {
      width: 100%;
      ion-button {
        width: 100%;
      }
    }
  }

}
