<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title><h1>Colores/Etiquetas</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="idSelected" (click)="onSwitch(true)">
        <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button *ngIf="idSelected" (click)="onSwitch(false)">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
      <ion-button (click)="onSave()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (click)="onUnselect()" class="themes-page">
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-item *ngFor="let theme of themesData;let i=index">
        <ion-input type="text" placeholder="" formControlName="{{theme.themeId}}" [value]="theme.themeTitle"
          [class.themes-page__input--disabled]="idSelected && idSelected !== theme.themeId" class="u-txt-{{fontSize}}"></ion-input>
        <button (click)="onSelectTheme($event, theme.themeId)" class="themes-page__btn"
          [class.themes-page__btn--disabled]="idSelected && idSelected !== theme.themeId">
          <div class="rectangle" [style]="'background:' + theme.c2"></div>
        </button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
