<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [disabled]="showThemeEditor" [class.ion-hide]="themeSelected"></ion-back-button>
      <ion-button *ngIf="themeSelected" (click)="onUnselect()" [disabled]="showThemeEditor">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <h1>Temáticas</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="themeSelected" (click)="onSwitch(true)" [disabled]="showThemeEditor">
        <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button *ngIf="themeSelected" (click)="onSwitch(false)" [disabled]="showThemeEditor">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
      <ion-button *ngIf="themeSelected" class="selected-button" (click)="onEdit()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button *ngIf="themeSelected" (click)="onDelete()" [disabled]="showThemeEditor">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!themeSelected" class="selected-button" (click)="onAddTheme($event)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (click)="onUnselect()" class="themes-page">
  <ion-list>
    <ion-item *ngFor="let theme of themesData;let i=index" [class.themes-page__theme]="true"
      [class.themes-page__theme--unselected]="themeSelected && theme.themeId !== themeSelected.themeId"
      [class.themes-page__theme--selected]="themeSelected && theme.themeId === themeSelected.themeId"
      (click)="onSelectTheme($event, theme)">
      <ion-label class="u-txt-{{fontSize}}">{{theme.themeTitle}}</ion-label>
      <div class="themes-page__btn">
        <div *ngIf="theme.c1" class="rectangle" [style]="'background:' + theme.c1"></div>
        <span *ngIf="!theme.c1">Seleccione un color</span>
      </div>
    </ion-item>
  </ion-list>

  <app-modal *ngIf="showThemeEditor" [template]="themeEditorTmpl" (closeEv)="onHideThemeEditor()">
  </app-modal>
</ion-content>

<ng-template #themeEditorTmpl>
  <app-theme-editor [data]="themeSelected" (selectColorEv)="onEditTheme($event)" (closeEv)="onHideThemeEditorComp()">
  </app-theme-editor>
</ng-template>
